# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
pip-cache/

# Secrets
jules_bb_python/app_config.py
secrets.txt

# Logs
jules_bb_python/logs/
*.log
*.json
*.xlsx
*.pdf

# IDE
.vscode/
.idea/

# OS
.DS_Store